<h3> Details for this board </h3>
Title: <%= board.escape('title') %>
<br>
<h4> All the Lists <h4>
<ul class = "lists group">
</ul>
<a href="#">Back to All Boards<a>
<br>
<a href=<%="/#/boards/"+board.escape('id')+"/lists/new"%>>Make a new List for this Board</a>
